.lisbonMap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 4rem;
}

.partyList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.party {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.partyColorAdorning {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: attr(data-color);
}