.statList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statValue   {
  font-size: 1.5rem;
  font-weight: 600;
}

.statLabel {
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
}

.partyName {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}