.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color:rgba(0, 0, 0, 0.7);
}

.body {
  padding: 1rem 1.5rem;
}

.statList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.statValue {
  font-size: 1.5rem;
  font-weight: 600;
}

.statLabel {
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
}

.statGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}