.root {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-shadow: none;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.body {
  padding: 1rem 1.5rem;
}