.partyName {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Skeleton placeholders matching stat/partyName dimensions */
.skeletonStatValue {
  width: 4rem;
  height: 1.5rem;
}

.skeletonStatLabel {
  width: 6rem;
  height: 0.8rem;
  margin-top: 0.25rem;
}

.skeletonPartyName {
  width: 10rem;
  height: 1.5rem;
  margin: 0 auto 0.5rem;
}
